<h1 class="text-center my-4"><%= t(".title") %></h1>

<%= link_to t(".new_tenant"), new_tenant_path, class:"btn btn-primary mb-3" %>

<div id="tenants" class="row">
  <% @tenants.each do |tenant| %>
    <div class="col-md-4 mb-3">
      <%= render tenant, tenant: tenant %>
    </div>
  <% end %>
</div>
