<%= link_to "New treatment", new_treatment_path, class:"btn btn-primary mb-3" %>

<h1>Treatments for today, <%= Time.current.strftime("%B %d, %Y") %></h1>


<div id="treatments" class="row">
  <% @treatments.sort_by(&:start_time).each do |treatment| %>
    <div class="col-md-4 mb-3">
      <%= render treatment, treatment: treatment %>
    </div>
  <% end %>
</div>

<div id="total-distance-time" class="sticky-bottom bg-light py-2">
  <h3>Total driven distance today: <span id="total-distance">0</span> km</h3>
  <h3>Total driven time today: <span id="total-time">0</span> minutes</h3>
</div>
