<div class="text-center my-4">
  <h4>  <% t(".title_html") %>  </h4>
</div>

<div class="row">
  <% @appointments.sort_by(&:start_time).each do |appointment| %>
    <div class="col-md-4 mb-3 appointment-card">
      <%= render appointment, appointment: appointment %>
    </div>
  <% end %>
</div>


