<h1 class="text-center my-4"><%= t(".title") %></h1>

<%= link_to t(".new_client"), new_client_path, class:"btn btn-primary mb-3" %>

<div id="clients" class="row">
  <% @clients.each do |client| %>
    <div class="col-md-4 mb-3">
      <%= render client, client: client %>
    </div>
  <% end %>
</div>

<footer class="fixed-bottom border-top border-dark footer-css">
  <h4 class="d-flex justify-content-center p-3"><%= t(".footer", count: @clients.count) %></h4>
</footer>
