<h1 class="text-center my-4">All clients</h1>

<%= link_to "New client", new_client_path, class:"btn btn-primary mb-3" %>

<div id="clients" class="row">
  <% @clients.each do |client| %>
    <div class="col-md-4 mb-3">
      <%= render client, client: client %>
    </div>
  <% end %>
</div>

<div class="fixed-bottom bg-light p-4 mb-0">
  <h3>You have <%= @clients.count %> clients</h3>
</div>
