<div class="container px-4 py-5">
  <div class="jumbotron text-center">
    <h1 class="display-2">Calcometer</h1>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <p>
      Making life easier for homecare givers and salespeople on the go.
    </p>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Effortless time management</h3>
        <p class="text-justify">
          Manage with ease your travel distances, times, and treatment schedules.
          With our intuitive and user-friendly interface, Calcometer seamlessly performs
          automatic distance and time calculations between patients or customers, paving the way for a well-organized day.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Safe by design</h3>
        <p class="text-justify">
          Safety is our top priority.
          Rest assured, your data is securely encrypted and meticulously protected,
          giving you peace of mind as you navigate your daily tasks.
        </p>
        <a class="btn btn-primary" href="<%= new_user_registration_path %>" role="button">Sign Up</a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Clutter-free design</h3>
        <p class="text-justify">
          Our attractive, clutter-free design is not only aesthetically pleasing but
          also thoughtfully crafted with a 'mobile-first' approach.
          This ensures an optimal user experience across all platforms,
          be it on your smartphone, tablet, or computer.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Simplify your routine</h3>
        <p class="text-justify">
          Calcometer lets you focus on what truly matters - providing exceptional care
          and service to your customers. Experience the ease of a multi-platform solution,
          designed with you in mind, and elevate your efficiency to new heights.
        </p>
        <a class="btn btn-primary" href="<%= new_user_registration_path %>" role="button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
