<h1 class="text-center my-4">
  <%= t(".all_patients") %></h1>

<%= link_to t(".new_patient"), new_patient_path, class: "btn btn-primary mb-3" %>

<div id="patients" class="row">
  <% @patients.each do |patient| %>
    <div class="col-md-4 mb-3">
      <%= render patient, patient: patient %>
    </div>
  <% end %>
</div>
