.background-image {
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* This is a semi-transparent black */
  z-index: 1; /* Ensure it's above the background image, but below the content */
  // make image rounded
  border-radius: 5px;
}

.background-overlay > * {
  position: relative; /* Ensure the content is above the overlay */
  z-index: 2;
}
