<%= notice %>
<div class="card">
  <%= render @appointment %>

  <div class="mt-1">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to t(".back_to_appointments"), appointments_path%></li>
      <li class="list-group-item"><%= button_to t(".delete_appointment"), @appointment,
                                                                            method: :delete,
                                                                            class: "btn btn-danger",
                                                                            title: t(".delete") %></li>
    </ul>
  </div>
</div>
