<%= notice %>
<div>
  <%= render @appointment %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent">
      <%= link_to t(".back_to_appointments"),
      appointments_path,
      class: "btn btn-secondary" %>
    </li>
    <li class="list-group-item bg-transparent">
      <%= button_to t(".delete_appointment"),
      @appointment,
      method: :delete,
      data: {turbo_confirm: t(".confirm_delete")},
      class: "btn btn-danger",
      title: t(".delete") %></li>
  </ul>
</div>
