<div id="<%= dom_id member %>" class="card h-100">
  <div class="card-body">
    <h5 class="card-title"><strong>👤 <%= member.user.first_name %></strong></h5>
    <p class="card-text">⚙️ <%= member.roles %></p>
  </div>
</div>
